<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="2.6.2" />
  <package id="MathNet.Numerics.MKL.Win-x86" version="1.3.0" />
  <package id="MathNet.Numerics.MKL.Win-x64" version="1.3.0" />
  <package id="MathNet.Numerics.FSharp" version="2.6.0" />
  <package id="FSharp.Formatting" version="1.0.15"  />
  <package id="FSharp.Charting" version="0.90.5"  />
  <package id="FSharp.Charting.Gtk" version="0.90.5"  />
  <package id="FSharp.Data" version="1.1.10"  />
  <package id="FSharp.Data.Experimental" version="1.1.10"  />
  <package id="Deedle" version="0.9.12"  />
  <package id="Deedle.RPlugin" version="0.9.12"  />
  <package id="RProvider" version="1.0.5"  />
  <package id="R.NET" version="1.5.5"  />
  <package id="RDotNet.FSharp" version="0.1.2.1"  />
</packages>